.card-img-top {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .card-img-top {
        height: 45vw;
    }
}

@media screen and (min-width: 992px) {
    .card-img-top {
        height: 15vw;
    }
}

.cart-image {
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
}